<app-navbar></app-navbar>
    <div class="row-title">
        <h1>Bienvenu dans votre espace</h1>
    </div>
    <div class="icons-links">
        <div class="rows">
            <div class="cols">
               <div class="span">
                    <span 
                        id="liste-evenement"
                        class="iconify" 
                        data-icon="akar-icons:folder-add" 
                        style="color: white;" 
                        data-width="50" 
                        data-height="50">
                    </span>
               </div>
                <div class="libelle">
                    <p>
                        Ajouter un cours
                    </p>
                </div>
            </div>
            <div class="cols">
                <div class="span">
                    <span 
                        id="liste-evenement"
                        class="iconify" 
                        data-icon="clarity:view-list-line" 
                        style="color: white;" 
                        data-width="50" 
                        data-height="50">
                    </span>
                </div>
                <div class="libelle">
                    <p>
                        Liste des cours
                    </p>
                </div>
            </div>
        </div>
        <div class="rows">
            <div class="cols">
                <div class="span">
                    <span 
                        id="liste-evenement"
                        class="iconify" 
                        data-icon="akar-icons:comment-add" 
                        style="color: white;" 
                        data-width="50" 
                        data-height="50">
                    </span>
                </div>
                <div class="libelle">
                    <p>
                        Ajouter un Evenement
                    </p>
                </div>
            </div>
            <div class="cols">
                <div class="span">
                    <span 
                        id="liste-evenement"
                        class="iconify" 
                        data-icon="iconoir:suggestion" 
                        style="color: white;" 
                        data-width="50" 
                        data-height="50">
                    </span>
                </div>
                <div class="libelle">
                    <p>
                        Suivi de mon Evenement
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ckeditor
        class="wiswyg"
        [(ngModel)]="ckeditorContent">
            <ckbutton [name]="'saveButton'"
            [command]="'saveCmd'"
            (click)="save($event)"
            [icon]="'save.png'"
            [label]="'Save Document'"
            [toolbar]="'clipboard,1'">
    </ckbutton>
</ckeditor>
    <app-footer></app-footer>