<app-navbar></app-navbar>
<div class="bar" routerLink="/espaceuser">
    <span 
        class="iconify" 
        data-icon="bi:arrow-down-circle" 
        style="color: white;" 
        data-width="24" 
        data-height="24" 
        data-rotate="90deg"
    ></span>
    <h1>
        Ajouter votre cours
    </h1>
</div>
<div class="cours-content">
        <div class="titre-section">
            <input 
                type="text" 
                placeholder="Donner un titre a votre cours"
                [(ngModel)]="cours.titre"
                name="titre"
            >
            <textarea 
            [(ngModel)]="cours.description"
                name="description" 
                id="" 
                cols="30" 
                rows="5" 
                placeholder="Donner une description"
            ></textarea>
        </div>
        <div class="editeeur-section">
            <ckeditor
                [(ngModel)]="ckeditorContent">
            </ckeditor> 
        </div>
        <div class="bnt">
            <button (click)="save()">
                Envoyer
            </button>
        </div>
        <div class="rendu">
            <div [innerHTML] = cours.contenu>

            </div>
        </div>
</div>
<app-footer></app-footer>
