.bar
{
    width: 500px;
    height: 35px;
    background-color: #007878;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    margin: 3% auto;
    cursor: pointer;
    
}
.bar h1{
    color: #ffff;
    margin: 0 auto;
    font-size: 14px;
}