.bar
{
    width: 85%;
    height: 35px;
    background-color: #007878;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    margin: 3% auto;
    cursor: pointer;
    
}
.bar h1{
    color: #ffff;
    margin: 0 auto;
    font-size: 14px;
}
.cours-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5% auto;
    width: 70%;
    height: 30vh;
    margin-bottom: 50%;
}
.titre-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
    width: 95%;
    box-shadow: -2px 10px 50px -9px rgba(255, 255, 255, 0.37);
    border: 1px #007878 solid;
    margin-bottom: 20px;
    border-radius: 5px;
}
input{
    border: 1px #007878 solid;
    border-radius: 5px;
    box-shadow: -2px 10px 50px -9px rgba(244, 244, 244, 0.37);
    padding-left: 12px;
    padding-right: 12px;
    
}
::placeholder{
    color: #fafafa;
    box-shadow: 10px 10px 10px;
    font-size: 13px;
}
.editeeur-section{
    width: 95%;
    box-shadow: -2px 10px 50px -9px rgba(255, 255, 255, 0.37);
    border: 1px #007878 solid;
}

button{
    width: 100%;
    height: 40px;
    background-color: #007878;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 15%;
    margin-bottom: 12px;
    font-family: roboto;
    font-size: 20px;
    cursor: pointer;
}