<div class="footer">
   <div class="row">
    
   </div>
   <div class="mail">
        <input class="mail-footer" type="mail" placeholder="nous contacter">
        <img src="../../../assets/icones/icons8-envoi-de-courriel-24.png" alt="">
   </div>
   <div class="quick-link">
        <ul>
            <li><a href="">Cours</a></li>
            <li><a href="">Evenements</a></li>
            <li><a href="">Contact</a></li>
        </ul>
   </div>
   <div class="logo-rs">
        <img src="../../../assets/icones/facebookBlanc.png" alt="">
        <img src="../../../assets/icones/tweeterBlanc.png" alt="">
        <img src="../../../assets/icones/youtubeBlanc.png" alt="">
   </div>
   <div class="copiright">
    <p>© Copyright 2022- Libscode</p>
   </div>
</div>