<div class="nav-bar">
    <div class="logo">
        <div class="icone-logo">
            <img src="../../../assets/icones/home.png" alt="">
        </div>
        <div class="title-logo">
            <p><span id="libs">Libs</span><span id="code">Code</span></p>
        </div>
    </div>
    <div class="rs">
        <div class="afcebook">
            <img class="logo-rs" src="../../../assets/icones/facebook.png" alt="">
        </div>
        <div class="ig">
            <img class="logo-rs" src="../../../assets/icones/instgramme.png" alt="">
        </div>
        <div class="linkedin">
            <img class="logo-rs" src="../../../assets/icones/linkedin.png" alt="">
        </div>
    </div>
    <div class="btn-navbar">
        <div class="btn-connexion" (click)="ShowModalLogin()">
            <p>connexion</p>
        </div>
        <div class="btn-connexion" (click)="showRegister()">
            <p>inscription</p>
        </div>
    </div>
</div>
<!-- Login Form -->
<form  [formGroup]="connexionform" [ngClass]='loginForm'>
    <div class="close-form" (click)="close()">
        <img src="../../../assets/icones/close.png" alt="">
    </div>
    <div class="titre-form">
        <h2>
            Connexion
        </h2>
    </div>
    <div class="text">
        <p>connecter vous pour explorer notre mine d’or</p>
    </div>
    <div>
      <input class="input" placeholder="email" formControlName="email">
    </div>
    <div >
      <input type="password" class="input" placeholder="Password" formControlName="password">
    </div>
    <div class="check">
        <input type="checkbox" class="checkbox" id="">
        <p>Mot de passe oublié?</p>
    </div>
    <div class="connexion">
      <button class="btn-login" type="submit" expand="block" [disabled]="!connexionform.valid" >Connexion</button>
    </div>
  </form>

  <!-- Register Form -->

  <form  [formGroup]="inscriptionForm" [ngClass]='registerForm'>
    <div class="close-form" (click)="close()">
        <img src="../../../assets/icones/close.png" alt="">
    </div>
    <div class="titre-form">
        <h2>
            Inscription
        </h2>
    </div>
    <div class="text">
        <p>inscrivez vous pour explorer notre mine d’or</p>
    </div>
    <div>
        <input class="input" placeholder="Votre nom" formControlName="email">
      </div>
    <div>
      <input class="input" placeholder="email" formControlName="email">
    </div>
    <div >
      <input type="password" class="input" placeholder="Password" formControlName="password">
    </div>
    <div class="connexion">
      <button class="btn-login" type="submit" expand="block" [disabled]="!connexionform.valid" >Inscription</button>
    </div>
  </form>