<div class="nav-bar">
    <div class="logo">
        <div class="icone-logo">
            <img src="../../../assets/icones/home.png" alt="">
        </div>
        <div class="title-logo">
            <p><span id="libs">Libs</span><span id="code">Code</span></p>
        </div>
    </div>
    <div class="rs">
        <div class="afcebook">
            <img class="logo-rs" src="../../../assets/icones/facebook.png" alt="">
        </div>
        <div class="ig">
            <img class="logo-rs" src="../../../assets/icones/instgramme.png" alt="">
        </div>
        <div class="linkedin">
            <img class="logo-rs" src="../../../assets/icones/linkedin.png" alt="">
        </div>
    </div>
    <div class="btn-navbar">
        <div class="btn-connexion">
            connexion
        </div>
        <div class="btn-connexion">
            deconnexion
        </div>
    </div>
</div>