.nav-bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 8px;
    width: auto;
}
.logo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}
.logo:hover
{
    margin-left: 30px;
    transition: 1s;
}
#libs
{
    font-size: 15px;
    font-weight: bold;
    color: #007878;
}
#code 
{
    font-size: 15px;
    font-weight: bold;
   
}
.rs
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo-rs
{
    width: 20px;
    height: 20px;
    padding: 5px
}
.logo-rs:hover
{
    transform: rotate(360deg);
    transition: 1s;
}
.btn-navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2px;
}

.btn-connexion 
{
    background: rgb(0,120,120);
    background: linear-gradient(90deg, rgba(0,120,120,0.8552463221616772) 16%,  rgba(100, 0, 90, 0.783) 100%);
    padding: 10px;
    color: white;
    font-size: 10px;
    margin: 5px;
    height: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.btn-connexion p
{
    margin-top: -5px;
}
.btn-connexion:hover
{   
    background-color: #6d0039;
    height: 20px;
    transition: 2s;
}

.loginFormVisible
{
    visibility: visible;
    opacity: 1;
    background-color: #000;
    width: auto;
    height: auto;
    position: absolute;
    margin-left: 40%;
    padding: 4%;
    border-radius: 5px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.titre-form h2
{
    font-size: 20px;
    color: #fff;
}
.text p {
    color: #fff;
    font-size: 12px;
}
.input
{
    margin: 12px;
    width: 150px;
    background-color: #007878;
    border: 1px #007878 solid;
    padding: 3%;
    border-radius: 5px;
}
.input:hover
{
    background-color: #fff;
}
.input::placeholder
{
    color: #fff;
}
.check
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}
.check p
{
    color: #fff;
    font-size: 8px;
}
.btn-login
{
    margin-top: 5%;
    width: 150px;
    background-color: #007878;
    color: #fff;
    border: 1px #007878 transparent;
    border-radius: 5px;
    padding: 3%;
    background: rgb(0,120,120);
    background: linear-gradient(90deg, rgba(0,120,120,1) 70%, rgba(0,0,0,1) 100%);
    cursor: pointer;
    
}
.btn-login:hover
{
    background-color: #fff;
    color: #000;
    border: 1px #007878 solid;
    transition: 1s;
}
.close-form img
{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: -150px;
}
.close-form img:hover
{
    transform: rotate(360deg);
    transition: 1s;
}
.loginFormHidden
{
    visibility: hidden;
    position: absolute;
    transform-origin: left;
    transition: 1s;
}

.registerFormVisible
{
    visibility: visible;
    opacity: 1;
    background-color: #000;
    width: auto;
    height: auto;
    position: absolute;
    margin-left: 40%;
    padding: 4%;
    border-radius: 5px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.registerFormHidden
{
    visibility: hidden;
    position: absolute;
    transform-origin: right;
    transition: 1s;
}