<div class="content">
    <app-side-bar></app-side-bar>
    <!-- <div class="page-content">
        <app-back-arraw></app-back-arraw>
        <div class="searchBar">
            <input type="text" placeholder="Rechercher un cours">
            <img src="../../assets/icones/search.png" alt="">
        </div>
        <div class="section-cours" >
            <mat-card class="card"  *ngFor="let cours of allCours"
                    (click)="showCours(this.cours.id)"
                    routerLink="/cours"
            >
                <img mat-card-image src="../../../assets/images/phpimg.jpg" alt="">
                <mat-card-title class="card-title">
                    {{cours.titre}}
                </mat-card-title>
                <mat-card-content>
                    {{cours.description}}
                </mat-card-content>
            </mat-card>
        </div>
           
        
    </div> -->
</div>