<app-navbar></app-navbar>
<div class="rows"  routerLink="/allevenements">
    <span 
        class="iconify" 
        data-icon="bi:arrow-down-circle" 
        style="color: white;" 
        data-width="24" 
        data-height="24" 
        data-rotate="90deg"
    ></span>
    <h1>S'inscrire à l'événement </h1>
</div>

<div class="container">
    <div class="desc-events" >
        <p>
            {{currentEvents.description}}
        </p>
    </div>
    <div class="form-section">
       <div class="form">
            <form [formGroup]="inscriptEventsForm" (ngSubmit)="storeData()">
                <div class="row mt-5">
                    <input class="input" placeholder="Prenom" formControlName="prenom">
                </div>
                <div class="row mt-5">
                    <input class="input" placeholder="Nom" formControlName="nom">
                </div>
                <div class="row mt-5">
                    <input class="input" placeholder="Email" formControlName="email">
                </div>
                <div class="row mt-5">
                    <input class="input" placeholder="Telephone" formControlName="telephone">
                </div>
                <div class="row mt-5">
                    <textarea class="textarea" formControlName="attentes" placeholder="vos attentes"  id="" cols="30" rows="3"></textarea>
                </div>
                <div class="row btn">
                    <button class="login-btn" type="submit">
                        s'inscrire
                    </button>
                </div>
            </form>
       </div>
       <div class="img mt-5">
            <img src="../../assets/images/inscription.png" alt="">
       </div>
    </div>
</div>
<app-footer></app-footer>