<app-navbar></app-navbar>
<div class="title-bar" routerLink="**">
    <span 
        class="iconify" 
        data-icon="bi:arrow-down-circle" 
        style="color: white;" 
        data-width="24" 
        data-height="24" 
        data-rotate="90deg"
    ></span>
    <h1>
       les Evenements
    </h1>
</div>
<div class="section-cours">
    <div class="card" 
        *ngFor="let Evenements of allEvenements"
        (click)="showCours(this.Evenements.id)"
        routerLink="/inscriptionevenement"
        >
        <div class="card-img">
        <img src="../../../assets/images/phpimg.jpg" alt="evenements">
           
        </div>
        <div class="card-title">
            <h3>{{Evenements.titre_evenement}}</h3>
        </div>
        <div class="card-texte" >
            <p>{{Evenements.description}}</p>
        </div>
        <div class="card-btn">
        </div>
    </div>
</div>

