<div class="sidebar">
    <div class="logo">
        <div class="icone-logo">
            <img src="../../../assets/icones/home.png" alt="">
        </div>
        <div class="title-logo">
            <p><span id="libs">Libs</span><span id="code">Code</span></p>
        </div>
    </div>
    <ul>
        <li>
            <a href=""> 
                <span 
                    class="iconify" 
                    data-icon="vscode-icons:file-type-html" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Html
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="vscode-icons:file-type-css" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Css
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="vscode-icons:file-type-js-official" 
                    data-width="24" 
                    data-height="24"
                ></span>
                JavaScript
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="vscode-icons:file-type-php2" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Php
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="logos:java" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Java
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="logos:angular-icon" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Angular
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="logos:react" 
                    data-width="24" 
                    data-height="24"
                ></span>
                React
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="logos:laravel" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Laravel
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="logos:spring-icon" 
                    style="color: green;" 
                    data-width="24" 
                    data-height="24"
                ></span>
                SpringBoot
            </a>
        </li>
    </ul>
</div>