<!-- <div class="sidebar">
    <div class="logo">
        <div class="icone-logo">
            <img src="../../../assets/icones/home.png" alt="">
        </div>
        <div class="title-logo">
            <p><span id="libs">Libs</span><span id="code">Code</span></p>
        </div>
    </div>
    <ul>
        <li>
            <a href=""> 
                <span 
                    class="iconify" 
                    data-icon="vscode-icons:file-type-html" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Html
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="vscode-icons:file-type-css" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Css
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="vscode-icons:file-type-js-official" 
                    data-width="24" 
                    data-height="24"
                ></span>
                JavaScript
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="vscode-icons:file-type-php2" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Php
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="logos:java" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Java
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="logos:angular-icon" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Angular
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="logos:react" 
                    data-width="24" 
                    data-height="24"
                ></span>
                React
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="logos:laravel" 
                    data-width="24" 
                    data-height="24"
                ></span>
                Laravel
            </a>
        </li>
        <li>
            <a href="">
                <span 
                    class="iconify" 
                    data-icon="logos:spring-icon" 
                    style="color: green;" 
                    data-width="24" 
                    data-height="24"
                ></span>
                SpringBoot
            </a>
        </li>
    </ul>
</div> -->

<div class="sidebar">
    <img src="../../../assets/images/logs.png" class="logo" alt="">
    <a (click)="showall()">Tous</a>
    <div class="div" *ngFor="let module of modules">
        <a (click)="getCoursByModule(this.module.id)">{{module.name}}</a>
    </div>   
</div>

<div class="content">
    <div class="rows"  routerLink="**" >
        <span 
            class="iconify" 
            data-icon="bi:arrow-down-circle" 
            style="color: white;" 
            data-width="24" 
            data-height="24" 
            data-rotate="90deg"
        ></span>
        <div class="h4" style="text-align: center; margin: 0 auto;">
            Liste des Cours
        </div>
    </div>
    <div class="searchBar">
        <input type="text" placeholder="Rechercher un cours">
        <img src="../../assets/icones/search.png" alt="">
    </div>
    <!-- -----------Cours By Module------------- -->
    <div class="section-cours" [ngClass]="filtre">
     <mat-card class="card w-25"  *ngFor="let cours of coursByModules"
                (click)="showCours(this.cours.id)"
                routerLink="/cours"
        >
            <img mat-card-image src="../../../assets/images/phpimg.jpg" alt="">
            <mat-card-title class="card-title">
                {{cours.titre}}
            </mat-card-title>
            <mat-card-content>
                {{cours.description | slice: 00:60}}
            </mat-card-content>
        </mat-card>
       

    </div>
    <!-- ---------------------All Cours ---------------------->
    <div class="section-cours w-100" [ngClass]="all">
       <app-cards></app-cards>    
    </div>
</div>