body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fafafa;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #007878;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #007878;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: auto;
  }

.searchBar input
{
    width: 250px;
    height: 30px;
    border: 0.1px #007878 solid;
    border-radius: 8px;
    margin-top: 13%;
}
.searchBar img
{
    position: absolute;
    margin-left: -30px;
    margin-top: 3%;
    width: 25px;
    height: 25px;
}

.section-cours
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 70%;
    margin: 3% auto;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 170px;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin: 2%;
    border: 0.5px #e2ffff solid;
    border-radius: 5px;
    cursor: pointer;
}
.card .card-title
{
    color: #007878;
    font-size: large;
    font-weight: bolder;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    font-family: roboto;
}
.card .card-texte p
{
    font-size: 10px;
    padding: 5%;
}
.card .card-img img
{
    width: 100%;
    height: 100%;
    border-radius: 5px  5px 0   0;
}
.logo{
    width: 100px;
    height: 90px;
    margin-left: 10%;
}
.rows
{
    width: 60%;
    height: 35px;
    background-color: #007878;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    margin-top: 4%;
    cursor: pointer;
}
span
{
    position: absolute;
    cursor: pointer;
}
.h4{
    color: #ffff;
}

.show-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 70%;
    margin: 3% auto;    
}
.hide-card{
    visibility: hidden;
    display: none;
}

  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 290px;
        background-color: #ffff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        margin: 2%;
        border: 0.5px #e2ffff solid;
        border-radius: 5px;
        cursor: pointer;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 290px;
        background-color: #ffff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        margin: 2%;
        border: 0.5px #e2ffff solid;
        border-radius: 5px;
        cursor: pointer;
    }
  }