<form  class="form">
    <div class="title">
        <h2>Connexion</h2>
    </div>
    <div class="text">
        <p>connecter vous pour explorer notre mine d’or</p>
    </div>
    <div class="login">
        <input type="email" placeholder="login"  >
    </div>
    <div class="password">
        <input type="password" placeholder="password" >
    </div>
    <div class="row-check-pwd">
        <div class="check">
            <input type="checkbox" id="check">
            <label for="check">Se souvenir de moi</label>
        </div>
        <div class="paswword-forget">
            <p>Mot de passe oublié?</p>
        </div>
    </div>
    <div class="connexion">
        <button type="submit">Connexion</button>
    </div>
</form>