<div class="sidebar">
    <div class="sidebar-row" routerLink="">
        <span 
            class="iconify" 
            data-icon="ic:baseline-dashboard" 
            style="color: #d4d3dc;" 
            data-width="25" 
            data-height="25">
        </span>
        <span>Dasbord</span>
    </div>
    <div class="sidebar-row" >
        <span 
            class="iconify" 
            data-icon="clarity:list-solid-badged" 
            style="color: #d4d3dc;" 
            data-width="25" 
            data-height="25">
        </span>
        <span>Liste Demande</span>
    </div>
    <div class="sidebar-row">
        <span 
            class="iconify" 
            data-icon="clarity:list-solid-badged" 
            style="color: #d4d3dc;" 
            data-width="25" 
            data-height="25">
        </span>
        <span>Evenement</span>
    </div>
    <div class="sidebar-row">
        <span 
            class="iconify" 
            data-icon="carbon:course" 
            style="color: #d4d3dc;" 
            data-width="25" 
            data-height="25">
        </span>
        <span>Cours</span>
    </div>
    <div class="sidebar-row">
        <span 
            class="iconify" 
            data-icon="carbon:user-multiple" 
            style="color: #d4d3dc;" 
            data-width="25" 
            data-height="25">
        </span>
        <span>Utilisateur</span>
    </div>
</div>
