.sidebar{
    width: 170px;
    height: 400px;
    margin-left: 20px;
    padding: 2%;
    margin-top: 20px;
    border-radius: 12px;
    background-color: #007878;


}
.sidebar-row{
    margin-top: 20px;
    margin-left: 10px;
}
span{
    margin-left: 15px;
    cursor:  pointer;
    color: #fff;
}

