<app-navbar></app-navbar>

<div class="container" style="display: flex; flex-direction: row">
    <div class="menu">
        <app-sidebar-admin></app-sidebar-admin>
    </div>
    <div class="evenement">
        <div class="titre">
            <h1>Liste des evenement</h1>
        </div>
        <div class="card-evenement">
            <div class="card-zone"*ngFor="let evenement of evenements" >
                <ng-template #longContent let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">{{evenement.titre}}</h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        {{evenement.description}}
                     </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light" (click)="validerEvenement(this.evenement.id)">Valider</button>
                      <button type="button" class="btn btn-light" (click)="deleteEvenement(this.evenement.id)">Invalider</button>
                    </div>
                </ng-template>
                <div class="section-card">
                    <mat-card class="card"  (click)="openScrollableContent(longContent)">
                        <img mat-card-image src="../../../assets/images/phpimg.jpg" alt="">
                        <mat-card-title class="card-title d-flex flex-column">
                            <div class="h6">
                                {{evenement.titre_evenement}}
                            </div>
                            <div class="h6 bg-danger text-light rounded-30 p-2">
                                {{evenement.date_evenement| date: 'dd/MM/yyyy' }}
                            </div>
                        </mat-card-title>
                        <mat-card-content>
                            {{evenement.description | slice:0:50}} <pre>...</pre>
                        </mat-card-content>
                    </mat-card>
                </div>
                
                
            </div> 
        </div>
    </div>
</div>
