.section-cours
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 70%;
    margin: 0 auto;
}
.cours{
    margin-top: 30px;
    padding: 20px;
    margin-top: 10px;
}
.card-title{
    color: #007878;
    font-size: 20px;
}
.card{
    width: 170px;
    margin-top: 18px;
}