<app-navbar></app-navbar>
<div class="bar-menu">
    <ul class="acueil-ul">
        <li><a href="">Cours</a></li>
        <li><a href="">Evenements</a></li>
    </ul>
</div>

<div class="intro-section">
    <div class="citation">
        <p>
            L'intelligence n'est pas la capacité de stocker <br>
            des informations, mais de savoir où les trouver.
        </p>
    </div>
    <div class="logo-img">
        <img src="../../assets/images/iconedev.png" alt="">
    </div>
</div>
<app-cards></app-cards>