
.bar-menu
{
    width: 90%;
    background-color: #007878;
    margin: 0 auto;
    margin-top: 3%;
    padding: 10px;
    border-radius: 5px;
}
.bar-menu .acueil-ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    margin: 0 auto;
   
}
.bar-menu .acueil-ul li
{
    list-style: none;
}
.bar-menu .acueil-ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bar-menu .acueil-ul li a:hover
{
    text-decoration: none;
    font-size: 25px;
    color: rgb(130, 6, 80);
}

.intro-section 
{
    margin: 0 auto;
    z-index: 0;
}
.intro-section .citation p
{
    font-size: 20px;
    font-family: Baskervville;
    margin-top: 16%;
    margin-left: 40px;
    line-height: 42px;
}
.intro-section .logo-img img
{
    width: 55%;
    /* padding-top: 7%; */
    margin-left: 19%;
    
}
.intro-section .logo-img img:hover
{
    transform: rotate(10deg);
    transition: 1s;
}
.title-sectio
{
    text-align: center;
    /* margin-top: 12%; */
}
h2
{
    font-size: 30px;
    color: #007878;
    font-weight: bolder;
    padding: 5%;
    margin: 0 auto;
}
.section1
{
    
    overflow: hidden;
    width: 100%;
    height: 50%;
    margin-top: 6%;
}
.section
{
   z-index: 0;
}
.inter-section
{
    background-image: url('../../assets/images/section.png');
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10% !important;
    padding: 10%;
}
.inter-section .text-section
{
    color: #ffff;

}
.inter-section .text-section h1
{
    font-size: 45px;
    font-family: roboto;
    text-align: center;
    line-height: 52px;
    margin-top: -8%;
}
.inter-section .text-section p
{
   text-align: center;
   font-size: 15px;
}
.inter-section .btn-section button
{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3%;
    border: 1px #007878 solid;
}

.all-events
{
    background: rgb(0,120,120);
    background: linear-gradient(90deg, rgba(0,120,120,0.8552463221616772) 16%,  rgba(100, 0, 90, 0.783) 100%);
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-size: 15px;
    height: 30px;
    width: 10%;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 192px;
    margin-top: 2%;
    float: right;
}
.all-events:hover
{
   border: 2px #fff solid;
   transition: 2s;
}
.all-events p 
{
    position: relative;
    margin: auto;
    margin-top: -6px;
}
.all-cours
{
    background: rgb(0,120,120);
    background: linear-gradient(90deg, rgba(0,120,120,0.8552463221616772) 16%,  rgba(100, 0, 90, 0.783) 100%);
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-size: 15px;
    height: 30px;
    width: 10%;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 192px;
    margin-top: 2%;
    float: right;
}
.all-cours:hover
{
   border: 2px #fff solid;
   transition: 2s;
}
.all-cours p 
{
    position: relative;
    margin: auto;
    margin-top: -6px;
}
.active
{
    border: 2px #fff solid;
    color: #610141;
    transition: 2s;
}
/* ******************************************** */

@media only screen and (max-width: 900px){
    body{
        width: 100%;
        overflow-x: hidden;
        margin: auto;
        padding: auto;
    }
    .all-events
    {
        background: rgb(0,120,120);
        background: linear-gradient(90deg, rgba(0,120,120,0.8552463221616772) 16%,  rgba(100, 0, 90, 0.783) 100%);
        padding: 10px;
        font-size: 12px;
        text-align: center;
        color: white;
        font-size: 15px;
        height: 30px;
        width: 20%;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 192px;
        margin-bottom: 2%;
        float: right;
    }
    .inter-section
    {
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 15% !important;
        width: 100%;
        padding: 10%;
 
    }
    .inter-section .text-section
    {
        color: #ffff;

    }
    .inter-section .text-section h1
    {
        font-size: 25px;
        font-family: roboto;
        text-align: center;
        line-height: 52px;
        
    }
    .inter-section .text-section p
    {
    text-align: center;
    font-size: 15px;
    }
    .inter-section .btn-section button
    {
        width: 100px;
        height: 50px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 3%;
        border: 1px #007878 solid;
    }
    
}